* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  background-color: aqua;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  border-radius: 20px;
  

}

/* body{
  
  
} */

h1 {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: 800;
  color: TEAL;
  justify-items: center;
}
.input-button{
justify-content: space-between;
display: flex;
}

#input {
  border-radius: 20rem;
  box-shadow: turquoise;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 2rem;

}

#my-list{
  display: flex;
  flex-direction: column;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px;
  user-select: none;
  cursor: pointer;
  position: relative;

}
ul li::before{
  content:url();
  position:absolute;
  height: 28px;
  width: 28px;
  background-size: cover;
  text-decoration: line-through;
 
}
ul li.checked{
  text-decoration: line-through;
}

ul li span{
  position:absolute;
  right: 0;
  top: 5px;
  width: 40px;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

button{
  margin-top: 6px;
  padding: 0.5rem;
  border-radius: 7px;
  background-color:orange;
  border: none;
  margin-left: 8rem;
  
}

